---
import Layout from "../layouts/Layout.astro";
import TeachersGrid from "../components/TeachersGrid.astro";
---

<Layout title="Про нас">
    <h1>Про нас</h1>
    <TeachersGrid></TeachersGrid>
</Layout>