---
import Layout from '../layouts/Layout.astro';
import LastEvent from "../components/LastEvent.astro";
import TeachersGrid from "../components/TeachersGrid.astro";
---

<Layout title="Головна">
    <div class="cathedra-about-container">
        <img src="assets/space-desk-laptop-notebook.jpg" class="cathedra-image"/>

        <div class="cathedra-about">
            <h2 class="place">Дніпровський ліцей № 97 Дніпровської міської ради</h2>
            <h1 class="cathedra">Кафедра інформатики</h1>
        </div>
    </div>

    <div class="section-container last-event">
        <h1>Останній захід</h1>
        <div class="limiter">
            <LastEvent/>
        </div>
    </div>

    <div class="section-container">
        <h1>
            Педагогічний колектив
        </h1>
        <TeachersGrid></TeachersGrid>
    </div>
</Layout>

<style>
    .cathedra-about-container {
        position: relative;

        .cathedra-image {
            width: 100%;
            height: clamp(150px, 15vw, 300px);
            object-fit: cover;
        }

        .cathedra-about {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
            color: white;

            .place {
                font-weight: 400;
            }
        }
    }

    .limiter {
        max-width: 1300px;
        margin: 0 auto;
        display: block;
    }

    .last-event {
        background: #003b46;
        color: #dae6ea;

        h1 {
            margin-top: 0;
        }
    }

    .section-container {
        width: calc(100% - 20px);
        text-align: center;
        padding: 40px 10px;
    }
</style>
