---
import {MAIN_HOST} from "../constants/routes";
interface Props {
    name: string;
    img: string
}

const {name, img} = Astro.props;
---

<div class="card">
    <img src=`${MAIN_HOST}/assets/${img}` class="teacher-image"/>
    <div class="description">
        <p class="name">{name}</p>
    </div>
</div>

<style>
    .card {
        width: 100%;
        max-width: 320px;
        height: max-content;
        position: relative;

        .teacher-image {
            width: 100%;
            background: lightblue;
        }

        .description {
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            background: white;
            text-align: center;

            .name {
                color: gray;
            }
        }
    }
</style>