---
import TeacherCard from "./TeacherCard.astro";
---

<div class="teachers-flex-container">
    <div class="grid-item">
        <TeacherCard name="Трипутень Максим" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Кружко Сергій" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Благій Олена" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
</div>

<div class="teachers-flex-container" style="margin-top: 20px">
    <div class="grid-item">
        <TeacherCard name="Рисікова Вікторія" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Полішко Сергій" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
</div>

<div class="teachers-grid">
    <div class="grid-item">
        <TeacherCard name="Трипутень Максим" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Кружко Сергій" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Благій Олена" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Рисікова Вікторія" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
    <div class="grid-item">
        <TeacherCard name="Полішко Сергій" img="smiley-man-relaxing-outdoors.jpg"></TeacherCard>
    </div>
</div>

<style>
    .teachers-flex-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 0 20px;

        .grid-item {
            flex: 0.33;
            max-width: 320px;
            min-width: 200px;
        }
    }

    .teachers-grid {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .teachers-flex-container {
            display: none;
        }

        .teachers-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            gap: 10px;
        }
    }
</style>