---
import {Icon} from 'astro-icon/components'
---
<footer>
    <p class="slogan">
        Відкрий світ технологій – разом до успіху в інформатиці!
    </p>

    <div>
        <h2 style="margin-top: 0">Контакти</h2>

        <p>
            <a href="mailto:sz097@dhp.dniprorada.gov.ua"
               class="inherit-link">
                <Icon name="email"/>
                <span>sz097@dhp.dniprorada.gov.ua</span>
            </a>
        </p>

        <p>
            <a href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F+%D0%94%D0%B8%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F,+42,+%D0%94%D0%BD%D0%B5%D0%BF%D1%80,+%D0%94%D0%BD%D0%B5%D0%BF%D1%80%D0%BE%D0%BF%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+49000/@48.4795005,34.9167015,17.5z/data=!4m6!3m5!1s0x40dbe1683b20f257:0x3933ec3092b199c!8m2!3d48.4795181!4d34.9181664!16s%2Fg%2F11csjhmgx0?authuser=0&entry=ttu"
               target="_blank"
               class="inherit-link">
                <Icon name="location"/>
                <span> Велика Діївська 42</span>
            </a>
        </p>

    </div>
</footer>
<p class="copyright">
    ©2024 Кафедра інформатики, Дніпровський ліцей № 97 Дніпровської міської ради. Всі права захищені.
</p>

<style>
    footer {
        background: #003b46;
        color: #dae6ea;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 10px 10px;
        justify-items: center;
    }

    .slogan {
        font-size: 16px;
    }

    .inherit-link {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .copyright {
        text-align: center;
        font-size: 14px;
    }

    @media screen and (max-width: 768px) {
        footer {
            display: block;
        }
    }

</style>