---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>

<div class="main-scroll">
    <Header></Header>
    <div class="main">
        <slot/>
    </div>
    <Footer></Footer>
</div>

</body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
        );
    }

    html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
        height: 100%;
    }

    .main-scroll {
        display: flex;
        flex-direction: column;
        min-height: 100%;

        .main {
            flex: 1 1;
        }
    }

    body {
        margin: 0;
        background: #F5F5F5;
        height: 100%;
    }


    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    .page-margin {
        margin: 0 10px;
    }

    @media screen and (max-width: 991px) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
        }
    }
</style>
